<!DOCTYPE html>
<html>
<head>
    <title>Prototype</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <script data-main="../scripts/main" src="../scripts/lib/require.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            <span>sidebar</span>
        </div>
        <div class="span10">
            <!--Body content-->
            <span>Main</span>
        </div>
    </div>
</div>


</body>
</html>