<!DOCTYPE html>
<html>
<head>
    <title>Prototype</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <script src="../scripts/lib/jquery.js"></script>
    <script data-main="../scripts/main" src="../scripts/lib/require.js"></script>
    <script type="text/javascript">
        $(function () {
            $(this).on('saveAccount', function (event) {
                console.log('here');
            });
        })
    </script>
</head>
<body>
<!--templates-->
<script type="text/html" id="accountlist-template">
    <div class="accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <div class="row-fluid">
                    <div class="span4">
                        <a class="btn btn-primary accordion-toggle" href="#new_account_body"
                           onclick="commands.addAccount()"
                           data-toggle="collapse">Add
                            User</a>
                    </div>
                </div>
            </div>
            <div class="accordion-body collapse" id="new_account_body">
                <div class="accordion-inner">
                    <div id="newaccount"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-bind="foreach:accounts">
        <div class="accordion" data-bind="attr:{'id':'user_' + userId()}">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <div class="row-fluid">
                        <div class="span2">
                            <span data-bind="text:userId"></span>
                        </div>
                        <div class="span6">
                            <span data-bind="text:username"></span>
                        </div>
                        <div class="span4">
                            <div class="btn-group row-fluid">
                                <div class="span6">
                                    <a class="accordion-toggle btn btn-primary command" data-toggle="collapse"
                                       data-command-target="commands" data-command-action="editAccount"
                                       data-bind="attr:{'data-parent':'#user_' + userId(),'href':'#user_body_' + userId(),'data-id':userId(),'data-placeholder':'accountedit_'+userId()}"
                                            >
                                        Edit
                                    </a>
                                </div>
                                <div class="span6">
                                    <a href="javascript:void(0)" class="btn">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-bind="attr:{'id':'user_body_' + userId()}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div data-bind="attr:{'id':'accountedit_'+userId()}"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="accountlist-pager"></div>
</script>
<script type="text/html" id="accountedit-template">

    <ul class="nav nav-tabs">
        <li class="active"><a data-bind="attr:{'href':'#user_info_'+userId()}"
                              data-toggle="tab">User</a></li>
        <li><a data-bind="attr:{'href':'#user_roles_'+userId()}" data-toggle="tab">Roles</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" data-bind="attr:{'id':'user_info_'+userId()}">

            <div class="row-fluid">
                <input type="text" data-bind="value:username" placeholder="Username">
            </div>
            <div class="row-fluid">
                <input type="text" data-bind="value:password" placeholder="Password">
            </div>
            <div class="row-fluid">
                <input type="text" data-bind="value:passwordConfirmation"
                       placeholder="Confirm Password">
            </div>

        </div>
        <div class="tab-pane" data-bind="attr:{'id':'user_roles_'+userId()}">
            <div class="row-fluid" data-bind="foreach:availableRoles">
                <div class="row-fluid">
                    <div class="span1">
                        <input type="checkbox" data-bind="checked:selected">
                    </div>
                    <div class="span2" data-bind="text:name"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <a href="javascript:void(0)" class="btn btn-primary"
           data-bind="click:saveAccount,attr:{'href':'#user_body_' + userId(),'data-toggle':errors().length==0?'collapse':''}"
                >Save</a>
        <a href="javascript:void(0)" class="btn" data-toggle="collapse"
           data-bind="attr:{'href':'#user_body_' + userId()}">Cancel</a>
    </div>
    <div data-bind="foreach:errors">
        <span data-bind="text:error"></span>
    </div>


</script>
<script type="text/html" id="permissionlist-template">
    <div class="accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <div class="row-fluid">
                    <div class="span4">
                        <a class="btn btn-primary accordion-toggle" href="#new_permission_body"
                           onclick="commands.addPermission()"
                           data-toggle="collapse">Add
                            Permission</a>
                    </div>
                </div>
            </div>
            <div class="accordion-body collapse" id="new_permission_body">
                <div class="accordion-inner">
                    <div id="newpermission"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-bind="foreach:permissions">
        <div class="accordion" data-bind="attr:{'id':'permission_' + id()}">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <div class="row-fluid">
                        <div class="span2">
                            <span data-bind="text:id"></span>
                        </div>
                        <div class="span6">
                            <span data-bind="text:name"></span>
                        </div>
                        <div class="span4">
                            <div class="btn-group row-fluid">
                                <div class="span6">
                                    <a class="accordion-toggle btn btn-primary" data-toggle="collapse"
                                       data-bind="attr:{'data-parent':'#permission_' + id(),'href':'#permission_body_' + id()}"
                                            >
                                        Edit
                                    </a>
                                </div>
                                <div class="span6">
                                    <a href="javascript:void(0)" class="btn">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-bind="attr:{'id':'permission_body_' + id()}" class="accordion-body collapse">
                    <div class="accordion-inner">


                        <div data-bind="attr:{'id':'permission_info_'+id()}">

                            <div class="row-fluid">
                                <input type="text" data-bind="value:name" placeholder="Name">
                            </div>
                            <div class="row-fluid">
                                <div class="span1">
                                    <input type="checkbox" data-bind="checked:system">
                                </div>
                                <div class="span2">
                                    <span>System Permission</span>
                                </div>
                            </div>


                        </div>


                        <div class="row-fluid">
                            <a href="javascript:void(0)" class="btn btn-primary"
                               data-bind="click:savePermission,attr:{'href':'#permission_body_' + id(),'data-toggle':errors().length==0?'collapse':''}"
                                    >Save</a>
                            <a href="javascript:void(0)" class="btn" data-toggle="collapse"
                               data-bind="attr:{'href':'#permission_body_' + id()}">Cancel</a>
                        </div>
                        <div data-bind="foreach:errors">
                            <span data-bind="text:error"></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</script>
<script type="text/html" id="rolepermissionlist-template">
    <div class="accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <div class="row-fluid">
                    <div class="span4">
                        <a class="btn btn-primary accordion-toggle command" href="#new_role_body"
                           data-command-target="commands" data-command-action="addRole" data-placeholder="newrole"
                           data-toggle="collapse">Add
                            Role</a>
                    </div>
                </div>
            </div>
            <div class="accordion-body collapse" id="new_role_body">
                <div class="accordion-inner">
                    <div id="newrole"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-bind="foreach:rolePermissions">
        <div class="row-fluid">
            <div class="accordion" data-bind="attr:{'id':'role_' + id()}">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <div class="row-fluid">
                            <div class="span2">
                                <span data-bind="text:id"></span>
                            </div>
                            <div class="span6">
                                <span data-bind="text:name"></span>
                            </div>
                            <div class="span4">
                                <div class="btn-group row-fluid">
                                    <div class="span6">
                                        <a class="accordion-toggle btn btn-primary command" data-toggle="collapse"
                                           data-command-target="commands" data-command-action="editRolePermission"
                                           data-bind="attr:{'data-parent':'#role_' + id(),'href':'#role_body_' + id(),'data-id':id(),'data-placeholder':'roleedit_'+id()}"
                                                >
                                            Edit
                                        </a>
                                    </div>
                                    <div class="span6">
                                        <a href="javascript:void(0)" class="btn">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-bind="attr:{'id':'role_body_' + id()}"
                         class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div data-bind="attr:{'id':'roleedit_'+id()}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="rolepermissionedit-template">
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span1">
                <span data-bind="text:id"></span>
            </div>
            <div class="span4">
                <span data-bind="text:name"></span>
            </div>
            <div class="span2">
                <span>System</span>
            </div>

            <div class="span1">
                <input type="checkbox" data-bind="checked:system">
            </div>
        </div>
        <div class="row-fluid">
            <h2>Role Permssions</h2>
        </div>
        <div class="row-fluid">
            <div class="span8 offset2">
                <div data-bind="foreach:availablePermissions">
                    <hr/>
                    <div class="row-fluid">
                        <div class="span1">
                            <span data-bind="text:id"></span>
                        </div>
                        <div class="span3">
                            <span data-bind="text:name"></span>
                        </div>
                        <div class="span2">
                            <input type="checkbox" data-bind="checked:selected">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row-fluid">
        <a href="javascript:void(0)" class="btn btn-primary command" data-command-target="commands"
           data-command-action="saveRolePermission"
           data-bind="attr:{'data-parent':'#role_' + id(),'data-command-id':id(),'href':'#roleedit_' + id(),'data-toggle':'collapse'}">Save</a>
        <a href="javascript:void(0)"
           data-bind="attr:{'data-parent':'#role_' + id(),'href':'#roleedit_' + id()}"
           data-toggle="collapse" class="btn">Cancel</a>
    </div>
</script>
<script type="text/html" id="newaccount-template">
    <div>
        <div class="row-fluid">
            <input type="text" data-bind="value:username" placeholder="Username">
        </div>
        <div class="row-fluid">
            <input type="text" data-bind="value:password" placeholder="Password">
        </div>
        <div class="row-fluid">
            <input type="text" data-bind="value:passwordConfirmation"
                   placeholder="Confirm Password">
        </div>
        <div class="row-fluid">
            <a href="javascript:void(0)" class="btn btn-primary"
               data-bind="click:saveAccount,attr:{'href':'#new_account_body','data-toggle':errors().length==0?'collapse':''}">Save</a>
            <a href="javascript:void(0)"
               data-bind="attr:{'data-parent':'#user_' + userId(),'href':'#new_account_body'}"
               data-toggle="collapse" class="btn">Cancel</a>
        </div>
        <div data-bind="foreach:errors">
            <div>
                <span data-bind="text:error"></span>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="pager-template">
    <div class="row-fluid">
        <div class="pager" data-bind="attr:{'data-list':name(),'data-size':size(),'data-count':count()}">
            <div data-bind="foreach:pages">
                <a href="javascript:void(0);" data-bind="text:label,click:select"></a>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="newrole-template">
    <div class="row-fluid">
        <div class="span4">
            <input type="text" data-bind="value:name" placeholder="Role Name">
        </div>
        <div class="span2">
            <span>System</span>
        </div>
        <div class="span2">
            <input type="checkbox" data-bind="checked:system">
        </div>
    </div>
    <div class="row-fluid">
        <a href="#new_role_body" class="btn btn-primary command" data-command-target="commands" data-parent="new_role_body"
           data-command-action="saveRole"
           data-bind="attr:{'data-toggle':errors().length==0?'collapse':null}">Save</a>
        <a href="#new_role_body"
           data-parent="new_role_body"
           data-toggle="collapse" class="btn">Cancel</a>
    </div>
    <div data-bind="foreach:errors">
        <div class="row-fluid">
            <span data-bind="text:error" class="error"></span>
        </div>
    </div>
</script>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">
            <div id="notifications" style="position:absolute;top:0px;left:200px"></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            <span>sidebar</span>
        </div>
        <div class="span10">
            <div id="newstuff"></div>
            <!--Body content-->
            <div class="row-fluid">
                <div class="span8">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" class="command" data-command-target="commands"
                                              data-command-action="navigate" data-command-location="accounts"
                                              href="#users">User
                            Administration</a></li>
                        <li><a data-toggle="tab" class="command" data-command-target="commands"
                               data-command-action="navigate" data-command-location="roles" href="#roles">Role
                            Administration</a></li>
                        <li><a data-toggle="tab" href="#permissions" class="command" data-command-target="commands"
                               data-command-action="navigate" data-command-location="permissions">Permissions
                            Administration</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="users">
                            <div id="accountlist"></div>
                        </div>
                        <div class="tab-pane" id="roles">
                            <div id="rolepermissionlist"></div>
                        </div>
                        <div class="tab-pane" id="permissions">
                            <div id="permissionlist"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript" src="../scripts/lib/bootstrap/bootstrap-collapse.js"></script>
<script type="text/javascript" src="../scripts/lib/bootstrap/bootstrap-tab.js"></script>
<script type="text/javascript" src="../scripts/app/pager.js"></script>
</body>
</html>